{{#if isEmpty}}
  <div class="empty-state">{{emptyMessage}}</div>
{{else}}
  {{#each bootcampGroups}}
    <div class="bootcamp-group">
      <div class="bootcamp-title">{{this.bootcamp}} ({{this.count}} certificate{{#if this.isPlural}}s{{/if}})</div>
      <table class="cert-table">
        <thead>
          <tr>
            <th>Student Name</th>
            <th>Type</th>
            <th>Format</th>
            {{#if showCreatedBy}}
              <th>Created By</th>
            {{/if}}
            <th>Created</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {{#each this.certificates}}
            <tr>
              <td class="student-name">{{this.studentName}}</td>
              <td><span class="cert-type type-{{this.type}}">{{this.typeLabel}}</span></td>
              <td>{{this.formatLabel}}</td>
              {{#if ../showCreatedBy}}
                <td class="created-by">{{this.createdBy}}</td>
              {{/if}}
              <td>{{this.createdAt}}</td>
              <td class="cert-actions">
                <a href="{{this.fileUrl}}" target="_blank">View PDF</a>
                <a href="{{this.verifyUrl}}" target="_blank">Verify</a>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  {{/each}}
{{/if}}
