<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{title}} - Certificate Generator</title>
  <style>
    {{CSS}}
  </style>
</head>
<body>
  {{#if header}}
    <div class="header">
      {{#if backLink}}
        <a href="{{backLink.url}}" class="back-link">{{backLink.text}}</a>
      {{/if}}
      {{#if headerTitle}}
        <h1>{{headerTitle}}</h1>
      {{/if}}
      {{#if headerActions}}
        <div>{{headerActions}}</div>
      {{/if}}
    </div>
  {{/if}}

  {{#if alerts}}
    {{alerts}}
  {{/if}}

  <main>
    {{content}}
  </main>

  {{#if scripts}}
    <script>
      {{scripts}}
    </script>
  {{/if}}
</body>
</html>
